<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<!--    <script src="/javascripts/canvas-controller.js"></script>-->
    <script src="/javascripts/sorting-visualizer.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
